<!--


  <h1>To Do's Count: <span [ngClass]="checkWarning()">{{getNumOfTodos()}} </span> </h1>


  <div *ngIf="!selected" >

  <table class="table table-success table-striped">
    <thead>
      <tr class="bg-primary">
        <th scope="col">Id</th>
        <th scope="col" >Task</th>
        <th scope="col">Mark</th>
        <th scope="col">Completed</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>

      <tr [ngClass]="todo.completed === true ? 'completed' : ''          " *ngFor="let todo of todos | incomplete: showComplete " >

        <th   scope="row" (click)="displayTodo(todo); display = !display">{{todo.id}}</th>

        <td class="task" (click)="displayTodo(todo); display = !display">{{todo.task}}</td>
        <td ><input type="checkbox" name="Mark" [(ngModel)]="todo.completed" (change)="updateTodo(todo, todo.id)"></td>
        <td (click)="displayTodo(todo); display = !display">{{todo.completed}}</td>
        <td><button class="btn btn-danger" (click)="deleteTodo(todo.id);">X</button></td>
      </tr>
    </tbody>
  </table>

  <br>
  <label for="showCompleted">Show Completed </label>

  <input type="checkbox" name="showCompleted" [(ngModel)]="showComplete" >

  <br>

  <form *ngIf="!selected" #createForm = "ngForm" class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Task</label>
      <input type="text" name="firstName" [(ngModel)]="newTodo.task" />

  <br>

  <button class="btn btn-primary" (click)="addTodo(newTodo )"  type="submit" >Add Task</button>

    </div>
    </form>

  </div>

  <br><br><br>

  <hr>


  <form *ngIf="editTodo" #createForm = "ngForm" class="row g-3">
    <div class="col-md-6">
      <label for="task" class="form-label">Task</label>
      <input type="text" name="firstName" [(ngModel)]="editTodo.task" />

  <br>
      <label for="description" class="form-label">Decription</label>
      <input type="text" name="description" [(ngModel)]="editTodo.description" />

  <br>
      <label for="completed" class="form-label">Completed</label>
      <input type="checkbox" name="completed"[(ngModel)]="editTodo.completed"  />

  <br>

  <button class="btn btn-primary" (click)="editTodo = null"  type="submit" >Cancel</button>

  <button class="btn btn-primary" (click)="updateTodo(editTodo, editTodo.id)"  type="submit" >Save</button>

    </div>
    </form>




  <div *ngIf = "selected && !editTodo">
    <h1>To Do Task</h1>
  <h3>{{selected.id}}</h3>
  <p>{{selected.task}}</p>
  <p>{{selected.description}}</p>
  <p>{{selected.completed}}</p>

  <button class="btn btn-primary" type="submit" (click)="setEditTodo()">EDIT</button>
  <button class="btn btn-primary" type="submit" (click)="displayTable()">BACK</button>

  </div> -->
